<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs'); %>

<body>
    <div class="container-xxl position-relative bg-white d-flex p-0">
      
	   <% if(false) { %>
	   <!-- Spinner Start -->
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->
		<% } %>
		
        <% if ( page == '404' ) { %>
        
            <%- include('./pages/404.ejs') %>
        
        <% } else if ( page == 'entrar' ) { %>
        
            <%- include('./entrar.ejs'); %>

        <% } else if ( page == 'recuperar' ) { %>

            <%- include('./recuperar.ejs'); %>

        <% } else { %>

        <%- include('./partials/aside.ejs'); %>


        <!-- Content Start -->
        <div class="content">
            <!-- Navbar Start -->
            <%- include('./partials/nav.ejs') %>
            <!-- Navbar End -->



            <!-- Search Start -->
            <% if ( request.q ) { %>
            <div class="container-fluid pt-4 px-4">
                <div class="col-12 col-sm-6 text-center text-sm-end">
                    Buscando Por: ´<%= request.q %>´
                </div>
            </div>
            <% } %>
            <!-- Search End -->

            <!-- Pages Start -->
            <% switch( page ) { case '404': %>
                <%- include('./pages/404.ejs') %>
            <% break; case 'home': %>
                <%- include('./pages/index.ejs') %>
            <% break; case 'conversas': %>
                <%- include('./pages/conversas.ejs') %>
            <% break; case 'mensagens': %>
                <%- include('./pages/mensagens.ejs') %>
            <% break; default: %>
                <%- include('./pages/undefined.ejs') %>
            <% break; } %>
            <!-- Pages End -->
            
            <!-- Footer Start -->
            <%- include('./partials/footer.ejs'); %>
            <!-- Footer End -->
        </div>
        <!-- Content End -->

        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>

        <% } %>
        
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/chart/chart.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/tempusdominus/js/moment.min.js"></script>
    <script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
</body>

</html>